body{
	background: #091921;
}


#clockContainer{
	border-radius: 50%;
	box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
        inset 0 -15px 15px rgba(255, 255, 255, 0.05),
        0 15px 15px rgba(0, 0, 0, 0.3),
        inset 0 15px 15px rgba(0, 0, 0, 0.3);
	position: relative;
	margin: auto;
	background-color:#091921;
	height :38vw;
	width:38vw;
	background: url(clock.png),no-repeat;
	background-size: 100%;/*yae set kr center mae lasakta hon */

}

/*yae wo properties hain jo hour minute and second mae same hae*/
#hour ,#minute,#second{
	position:absolute;
	border-radius: 10px;
	transform-origin: bottom;/*yae clock k hands ko end sae move krwanae k liyae use kia hae wrna wo center sae move horahe thi*/	

}

#hour{
	width:1.8%;
	height:25%;
	top:25%;
	left:48.8%;
	opacity: 0.8;
	background:  #C1BCBA;
}

#minute{
	width:1.6%;
	height:33%;
	top:16%;
	left:48.9%;
	opacity: 0.8;
	background:  #C1BCBA;
}

#second{
	width:1%;
	height:40%;
	top:9%;
	left:49.25%;
	opacity: 1;
	background: red;
	z-index: 2;
}

.present-day {
	width:1%;
	height:40%;
	top:48%;
	left:60.25%;
    	font-size: 1vw;
    	position: absolute;
    	color: #C1BCBA;
    	z-index: 1;
}

.date {
	width:1%;
	height:40%;
	top:48%;
	left:80.25%;
    	position: absolute;
    	font-size: 0.8vw;
    	color: #C1BCBA;
    	z-index: 1;
}


/* Digital Clock */
.display-clock {
	width: 20%;
    	margin: auto;
    	color: #9c9b9b;
    	padding-left: 5.3	%;
    	margin-top: 5%;
    	border: 4px solid #091921;
    	border-radius: 5%;
    	background-color: #091921;
	font-size: 2.5vw;
    	box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
        	inset 0 -15px 15px rgba(255, 255, 255, 0.05),
        	0 15px 15px rgba(0, 0, 0, 0.3),
        	inset 0 15px 15px rgba(0, 0, 0, 0.3);
    	
    
}


/*-----------------------------responsive for ipads and mobiles-----------------*/
@media  (max-width: 900px) {

    .display-clock {
        font-size: 2rem;}

    #clockContainer{
	position: fixed;
  	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
	height :90vw;
	width:90vw;
	z-index: 1;
	

}

.display-clock {
	width: 30%;
    	padding-left: 5.5%;
    	position: fixed;
  	top: 50%;
  	left: 50%;
	transform: translate(-50%, 80%);
   	border: 4px solid #091921;
    	font-size: 4.5vw;
    
}
.present-day {
	left:60.25%;
    	font-size: 3vw;
}

.date {
	left:80.25%;
    	position: absolute;
    	font-size: 2vw;
    
}  
   
}
